In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('housing.csv')

In [4]:
data.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
7436,-118.19,33.94,45.0,1871.0,371.0,1315.0,382.0,3.3661,160800.0,<1H OCEAN
16561,-121.40,37.74,20.0,2706.0,477.0,1236.0,474.0,4.1500,322400.0,INLAND
9393,-122.55,37.92,52.0,2303.0,350.0,859.0,359.0,6.1085,500001.0,NEAR BAY
8093,-118.21,33.82,45.0,455.0,92.0,394.0,89.0,4.9562,165700.0,NEAR OCEAN
13114,-121.36,38.39,10.0,5121.0,763.0,2568.0,758.0,5.2447,148100.0,INLAND
4627,-118.31,34.07,26.0,5062.0,2055.0,4533.0,1822.0,2.3105,166700.0,<1H OCEAN
16866,-122.40,37.61,35.0,2084.0,549.0,1077.0,545.0,3.1628,318400.0,NEAR OCEAN
4094,-118.40,34.15,41.0,2394.0,500.0,837.0,417.0,4.3889,380400.0,<1H OCEAN
6380,-118.04,34.17,52.0,1885.0,401.0,764.0,373.0,4.0385,265700.0,INLAND
20276,-119.21,34.19,15.0,5614.0,989.0,2754.0,994.0,5.0350,242900.0,NEAR OCEAN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
data.dropna(inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [9]:
from sklearn.model_selection import train_test_split as tts 

X = data.drop('median_house_value', axis=1)
y = data['median_house_value']

In [10]:
X_train,X_test,y_train,y_test = tts(X,y,test_size=0.2, random_state=42)